In [1]:
import configparser

In [12]:
USER_ID = "hctmkr"
USER_PW = "hcinc3600"

In [13]:
config = configparser.ConfigParser()
config.read("datas.ini")
account = config["kaida"]
user_id, user_pass = account["USER_ID"], account["USER_PW"]

NameError: name 'account' is not defined

In [6]:
url = "https://www.kaida.co.kr/ko/index.do"

In [4]:
# 1. 로그인

In [8]:
driver = webdriver.Chrome()
driver.set_window_size(1400, 1200)
driver.get("https://www.kaida.co.kr/uat/uia/egovLoginUsr.do")

In [9]:
driver.find_element_by_css_selector('#userId').send_keys(user_id)
driver.find_element_by_css_selector('#userPass').send_keys(user_pass)
driver.execute_script('actionLogin()')

NameError: name 'user_id' is not defined

In [7]:
# 2. 사용자 설정통계 페이지 이동

In [8]:
driver.get("https://www.kaida.co.kr/ko/statistics/custom2.do")

In [9]:
# 3. 브랜드, 지역, 구매유형, 연령 데이터 수집

In [10]:
# 브랜드
brands = driver.find_elements_by_css_selector("#td_Brand > .item_wrap > label")
brands = {brand.text: brand.get_attribute("for") for brand in brands}
print(len(brands), brands)

23 {'Audi': 'Brand001', 'BMW': 'Brand002', 'Bentley': 'Brand035', 'Cadillac': 'Brand006', 'Chevrolet': 'Brand057', 'Chrysler': 'Brand003', 'Citroen': 'Brand020', 'Ford': 'Brand005', 'Honda': 'Brand007', 'Jaguar': 'Brand008', 'Lamborghini': 'Brand034', 'Land Rover': 'Brand009', 'Lexus': 'Brand015', 'Lincoln': 'Brand058', 'MINI': 'Brand039', 'Maserati': 'Brand010', 'Mercedes-Benz': 'Brand011', 'Peugeot': 'Brand012', 'Porsche': 'Brand013', 'Rolls-Royce': 'Brand032', 'Toyota': 'Brand044', 'Volkswagen': 'Brand016', 'Volvo': 'Brand017'}

In [11]:
# 지역
areas = driver.find_elements_by_css_selector("#td_City > .item_wrap > label")
areas = {area.text: area.get_attribute("for") for area in areas}
print(len(areas), areas)

17 {'서울': 'City11', '부산': 'City26', '대구': 'City27', '인천': 'City28', '광주': 'City29', '대전': 'City30', '울산': 'City31', '세종': 'City36', '경기': 'City41', '강원': 'City42', '충북': 'City43', '충남': 'City44', '전북': 'City45', '전남': 'City46', '경북': 'City47', '경남': 'City48', '제주': 'City49'}

In [12]:
# 구매유형
selector = '#pageBody > article.body_wrap > div > div.select_filter > table > tbody > tr > td:nth-child(8) > div > label'
sales_types = driver.find_elements_by_css_selector(selector)
sales_types = {sales_type.text: sales_type.get_attribute("for") for sales_type in sales_types}
print(len(sales_types), sales_types)

4 {'개인': 'PurchaseType3', '개인-남자': 'PurchaseType1', '개인-여자': 'PurchaseType2', '법인': 'PurchaseType0'}

In [13]:
# 연령
ages = driver.find_elements_by_css_selector(".td_Age > .item_wrap > label")
ages = {age.text: age.get_attribute("for") for age in ages}
print(len(ages), ages)

7 {'~19': 'Age1', '20~29': 'Age2', '30~39': 'Age3', '40~49': 'Age4', '50~59': 'Age5', '60~69': 'Age6', '70~': 'Age7'}

In [14]:
# 4. 선택

In [15]:
def clear_menu(driver):
    # 모든 체크 박스 초기화
    driver.execute_script("$('input[type=checkbox]').prop('checked', false);"); 
    # tag 초기화
    driver.execute_script("$('.sel_item button').click();");

In [16]:
def select_menu(driver, brand_id, area, area_id, sales_type_id, age_id):
    
    # 메뉴 초기화
    clear_menu(driver)
    time.sleep(0.5)
    
    # 브랜드 클릭
    driver.find_element_by_css_selector(f'input#{brand_id}').click()
    time.sleep(0.5)
    
    # 지역 클릭
    driver.find_element_by_css_selector(f'input#{area_id}').click()
    time.sleep(0.5)
    
    # 상세 지역 클릭 : 전체가 클릭되도록 설정 : 이 메뉴가 안나오는 경우도 있으므로 예외처리
    try:
        driver.find_element_by_css_selector(f'input#all-{area}').click()
        time.sleep(0.5)
    except:
        pass
    
    # 구매유형 클릭
    driver.find_element_by_css_selector(f'input#{sales_type_id}').click()
    time.sleep(0.5)
    
    # 연령대 클릭
    driver.find_element_by_css_selector(f'input#{age_id}').click()
    time.sleep(0.5)

In [17]:
# 5. 데이터 수집

In [18]:
def make_table_df(driver, area, sales_type, age):
    
    # 컬럼 데이터 수집
    columns = driver.find_elements_by_css_selector("table.re_table > thead > tr > th")
    columns = [column.text for column in columns] + ["area", "sales_type", "age"]

    # 데이터 프레임 만들기
    df = pd.DataFrame(columns=columns)

    # 데이터 프레임 채우기
    rows = driver.find_elements_by_css_selector("table.re_table > tbody > tr")
    for row in rows:
        cells = row.find_elements_by_css_selector('td,th')
        datas = [cell.text for cell in cells] + [area, sales_type, age]     
        df.loc[len(df)] = datas
    
    return df

In [19]:
# 6. 함수 실행
dfs = []

for brand, brand_id in list(brands.items())[:2]:
    for area, area_id in list(areas.items())[:2]:
        for sales_type, sales_type_id in list(sales_types.items())[:2]:
            for age, age_id in list(ages.items())[:2]:
                print([brand, area, sales_type, age], end=" ")
                
                # 메뉴 선택
                select_menu(driver, brand_id, area, area_id, sales_type_id, age_id)
                
                # 검색버튼 클릭
                driver.find_element_by_css_selector('.searchBtn').click()
                time.sleep(1)
                
                # 데이터 수집해서 데이터 프레임으로 만들기
                df = make_table_df(driver, area, sales_type, age)
                dfs.append(df)

# 수집된 데이터 프레임 병합
result_df = pd.concat(dfs)

# index 초기화
result_df.reset_index(drop=True, inplace=True)

# csv 파일로 저장
result_df.to_csv("result.csv", index=False)

# 출력
result_df.tail()

['Audi', '서울', '개인', '~19'] ['Audi', '서울', '개인', '20~29'] ['Audi', '서울', '개인-남자', '~19'] ['Audi', '서울', '개인-남자', '20~29'] ['Audi', '부산', '개인', '~19'] ['Audi', '부산', '개인', '20~29'] ['Audi', '부산', '개인-남자', '~19'] ['Audi', '부산', '개인-남자', '20~29'] ['BMW', '서울', '개인', '~19'] ['BMW', '서울', '개인', '20~29'] ['BMW', '서울', '개인-남자', '~19'] ['BMW', '서울', '개인-남자', '20~29'] ['BMW', '부산', '개인', '~19'] ['BMW', '부산', '개인', '20~29'] ['BMW', '부산', '개인-남자', '~19'] ['BMW', '부산', '개인-남자', '20~29']

,구분,Jan.,Feb.,Mar.,Apr.,May,Jun.,Jul.,Aug.,Sep.,Oct.,Nov.,Dec.,Total,area,sales_type,age
5,BMW,37,61,49,56,0,0,0,0,0,0,0,0,203,서울,개인,20~29
6,BMW,1,1,0,0,0,0,0,0,0,0,0,0,2,서울,개인-남자,~19
7,BMW,22,39,30,41,0,0,0,0,0,0,0,0,132,서울,개인-남자,20~29
8,BMW,18,14,21,10,0,0,0,0,0,0,0,0,63,부산,개인,20~29
9,BMW,13,10,18,8,0,0,0,0,0,0,0,0,49,부산,개인-남자,20~29

In [ ]:
# selenium으로 로그인후 쿠키 데이터로 requests 하기

In [20]:
import json

In [23]:
cookies = driver.get_cookies()
cookie_str = ""
for cookie in cookies:
    cookie_str += cookie["name"] + "=" + cookie['value'] + "; "
cookie_str = cookie_str[:-2]
cookie_str

'_gid=GA1.3.715465655.1620792833; _ga=GA1.3.880853285.1620792833; JSESSIONID=B08F3B34C4BF4DCE8F07B5FC3AC1275D'

In [24]:
url = "https://www.kaida.co.kr/ko/statistics/customAjax.do"
params = {
    "searchCity": "11",
    "searchPurchaseType": "3",
    "searchAge": "2",
    "searchBrand": "001",
    "searchFilterText": "서울 / 개인 / 20~29 / Audi",
    "searchDivision": "Brand",
    "searchDivisionName": "브랜드",
    "searchYear": "2021",
}
headers = { 'Cookie': cookie_str }
response = requests.post(url, json.dumps(params), headers=headers)
response

In [26]:
df = pd.DataFrame(response.json()["listDynamic"])
df.tail(2)

,division,divisionName,yyyy,mon01,mon02,mon03,mon04,mon05,mon06,mon07,mon08,mon09,mon10,mon11,mon12,total,summary_type
21,016,Volkswagen,2021,1236,1783,1628,1080,0,0,0,0,0,0,0,0,5727,11
22,017,Volvo,2021,1198,1202,1251,1263,0,0,0,0,0,0,0,0,4914,11

In [27]:
driver.quit()